body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}


p {
  color: black; 
  font-size: 25px; 
}

h1 {
    margin: 0;
  }

.header {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
.header-logo {
  font-weight: bold;
  font-size: 20px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  margin:0;
}
.header-list a {
  text-decoration: none;
  color: black;
} 
.contact {
  background-color: #2486d1;
    color: #fff;
    padding: 6px 16px;
    border-radius: 6px;
}

.contact a {
  color: #fff;
}

#main-visual {
  position:relative;
  height: 400px;
  margin-bottom: 271px;
}

#main-message {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2710d5;
  color: #ffffff;
  border-radius: 0 0 500px 0;
  max-width: 30%;
  width: 100%;
  height: 100%;
  z-index: 11;
}

#main-message h2 {
  font-size: 350%;
  font-weight: bold;
  margin: 15% 0 0 30%;
}

#main-message h3 {
  font-size: 200%;
  margin: 0 0 0 27%;
}

#main-visual img {
  max-width: 80%;
  border-radius: 476px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

footer {
 background-color: black; 
 text-align: center;
 margin-top: 80px;
 padding-top: 50px;
}

#sns-footer img {
  width: 20px;
  height: auto;
}

#footer-iogo {
 margin-bottom:  30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link >a {
  text-decoration: none;
  margin: 20px;
}

#footer-link >a:link {
  color:#ffffff;
}

#footer-link >a:visited {
  color: #ffffff;
}

#footer-link >a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#footer-link >a:active {
  color: #ffffff;
}

#sns-footer {
  text-align: left;
  width: 100%;
}

#sns-footer > a {
  margin-right: 30px;
}

#copyright {
  color: #ffffff;
  float: right;
}

h2 {
  margin-top: 450px;
  font-size: 35px;
}

h3 {
  font-size: 27px;
}

h2::after {
  content: url("images/line.png");
  margin-left: 10px;
}

#mission-photo {
  width: 700px;
  height: auto;
}

#mission-photo2 {
  width: 700px;
  height: auto;
}

#mission {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#mission-flex {
  width: 100%;
  display: flex;
}

#mission-flex > div {
  width: 50%;
  margin: 20px;
}

#mission-photo {
  width: 100%;
}

#mission-photo2 {
  margin-top: 50px;
}